{% load static %}
<br><br>
<h1>Hotel Accommodation</h1><hr class="rounded">
<h3>Hilton Garden - 1300 Cinema Way, Benton Harbor, MI, 49022, US - (269) 926-5000</h3>
<p>When requesting a room please reference "Zdanek/Mojo Wedding"!</p>
<p>Cut off for reservation is August 3, 2021</p>

<p>We are providing a shuttle for the evening to and from the venue. Please let us know if you would like to arrage for the shuttle to stop at any other hotel other than the Hilton Garden listed above. We will ensure they are able to accomodate you.</p>
