{% load static %}
<h1>Party</h1><hr class="rounded">
<h3>Dani's Crew</h3>
<div class="container">
  <div class="row">
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'gina_cropped.png' %}?random=1" alt="Gina" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Gina Ruvoli</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Maid Of Honor</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top " src="{% static 'allie_cropped.png' %}?random=1" alt="Allie" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Allie Mojsiejenko</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Bridesmaid</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'annie_cropped.png' %}?random=1" alt="Annie" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Annie Baugnet</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Bridesmaid</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'abby_cropped.png' %}?random=1" alt="Abby" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Abby Seliga</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Bridesmaid</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'lindsay_cropped.png' %}?random=1" alt="Lindsay" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Lindsay Bonnar</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Bridesmaid</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'ashley_cropped.png' %}?random=1" alt="Ashley" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Ashley Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Bridesmaid</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'brenna_cropped.png' %}?random=1" alt="Brenna" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Brenna Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Bridesmaid</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'maddie_cropped.png' %}?random=1" alt="Madeline" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Madeline Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Bridesmaid</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'makenna_cropped.png' %}?random=1" alt="Makenna" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Makenna Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Junior Bridesmaid</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'jj_cropped.png' %}?random=1" alt="JJ" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">JJ Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Junior Bridesmaid</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'savanna_cropped.png' %}?random=1" alt="Savanna" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Savanna Smith</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Junior Bridesmaid</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'viv_cropped.png' %}?random=1" alt="Vivienne" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Vivienne Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Flowergirl</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>Parker's Crew</h3>
<div class="container">
  <div class="row">
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'kyle_cropped.png' %}?random=1" alt="Gina" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Kyle Totzke</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Best Man</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'brandon_cropped.png' %}?random=1" alt="Allie" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Brandon Smith</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Groomsman</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'cooper_cropped.png' %}?random=1" alt="Annie" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Cooper Mojsiejenko</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Groomsman/Bro</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'ryan_cropped.png' %}?random=1" alt="Abby" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Ryan Fechner</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Groomsman</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'aaron_cropped.png' %}?random=1" alt="Lindsay" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Aaron Klug</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Groomsman</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'charlie_cropped.png' %}?random=1" alt="Makenna" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Charlie Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Groomsman</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'jacob_cropped.png' %}?random=1" alt="JJ" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Jacob Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Groomsman</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'evan_cropped.png' %}?random=1" alt="Savanna" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Evan Zdanek</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Groomsman</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="{% static 'jackson_cropped.png' %}?random=1" alt="Vivienne" style="width:100%; margin-bottom: 5px;">
        <div class="card-body">
          <h5 class="card-title">Jackson Garrick</h5>
          <p class="card-subtitle mb-2 text-muted card-text">Ring Bearer</p>
        </div>
      </div>
    </div>
  </div>
</div>
