{% load static %}
<h1>Registry</h1><hr class="rounded">
<p class="lead">We have two locations for our registry, Amazon and Crate & Barrel. We are actively adding to the registry, so the list is ever changing. You can access the registry by clicking the links (the logos) below! All gifts are much appreciated and we thank you in advance.</p>
<br>
<div class="row">
	<div class="col-md-6">
<a href="https://www.amazon.com/wedding/parker-mojsiejenko-danielle-zdanek--september-2021/registry/2TOKDEI5G18D">
	<img src="{% static '/amazon.png' %}" class="amazon">
</a>
</div>
<div class="col-md-6">
<a href="https://www.crateandbarrel.com/gift-registry/danielle-zdanek-and-parker-mojsiejenko/r6250756">
	<img src="{% static '/crateandbarrel_logo.png' %}" class="crate">
</a>

</div>
</div>


<p class="lead">We're in the process of moving! Gift cards would be greatly appreciated to help make our house a home.</p>

<ul class="giftcardlist">
  <li class="lead" aria-current="true">Prefered Gift Cards</li>
  <li class="lead">Amazon</li>
  <li class="lead">Wayfair</li>
  <li class="lead">Lowe's</li>
  <li class="lead">Home Depot</li>
  <li class="lead">Home Goods</li>
  <li class="lead">Crate & Barrel</li>
  <li class="lead">Wal-Mart</li>
  <li class="lead">Bed Bath & Beyond</li>
</ul>
