{% load static %}

<script>
  grecaptcha.ready(function() {
      $('#guestForm').submit(function(e){
          var form = this;
          e.preventDefault()
          grecaptcha.execute('6LdGZ3UbAAAAABTKZX7CrayqpkiLwfw0gHWcrmMq', {action: 'guestForm'}).then(function(token) {
              $('#rsvp_recaptcha').val(token)
              form.submit()
          });
      })
  });
 </script>


<h1>RSVP</h1><hr class="rounded">
<br>

<p class="lead">Sirloin and pork tenderloin will be offered with guests having the option to try both if desired. A vegetarian option will also be available upon request.</p>
<br>
<form id=guestForm method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <h4>Your Information</h4>
    <div class="row">
      <div class="col-auto">
        <div class="fieldWrapper">
          {{ form.firstname.errors }}
          <label for="{{ form.firstname.id_for_label }}" class="col-form-label">First Name</label>
          {{ form.firstname }}
        </div>
      </div>
      <div class="col-auto">
        <div class="fieldWrapper">
          {{ form.lastname.errors }}
          <label for="{{ form.lastname.id_for_label }}" class="col-form-label">Last Name</label>
          {{ form.lastname }}
        </div>
      </div>
      <div class="fieldWrapper">
        {{ form.plusone.errors }}
        <label for="{{ form.plusone.id_for_label }}" class="col-form-label">Plus One?</label>
        {{ form.plusone }}
      </div>
    </div>
  </div>
  <div id="plusOnePane" class="row">
    <h4>Plus One</h4>
    <div class="row">
      <div class="col-auto">
        <div class="fieldWrapper">
          {{ form.firstnameplusone.errors }}
          <label for="{{ form.firstnameplusone.id_for_label }}" class="col-form-label">First Name</label>
          {{ form.firstnameplusone }}
        </div>
      </div>
      <div class="col-auto">
        <div class="fieldWrapper">
          {{ form.lastnameplusone.errors }}
          <label for="{{ form.lastnameplusone.id_for_label }}" class="col-form-label">Last Name</label>
          {{ form.lastnameplusone }}
        </div>
      </div>
    </div>
  </div>
  <br>
  <input type="hidden" name="g-recaptcha-response" id='rsvp_recaptcha'>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

