{% load static %}
<h1>Timeline</h1><hr class="rounded">
<br>
<div class="timeline">
  <div class="timeline_container left">
    <div class="content">
      <h2>First</h2>
      <p>We met.</p>
    </div>
  </div>
  <div class="timeline_container right">
    <div class="content">
      <h2>Then</h2>
      <p>We date.</p>
    </div>
  </div>
  <div class="timeline_container left">
    <div class="content">
      <h2>Then</h2>
      <p>We engaged.</p>
    </div>
  </div>
  <div class="timeline_container right">
    <div class="content">
      <h2>Finally</h2>
      <p>We marry.</p>
    </div>
  </div>
</div>
</ul>